@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    --fonteA: "SUSE Mono";
    --fonteB: "Roboto Mono";
    --cor-Backg: #ffe5d3;
    --cor-Palt-1: #547a5d;
    --cor-Palt-2: #53443a;
    --cor-Palt-3: #86ae8f;
    --cor-Palt-4: #8f6950;
}

|* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--cor-Backg);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
  }
  

header {
    min-height: 50px;
}

.top__nav__sections {
    font-family: var(--fonteA);
    font-size: larger;
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    justify-content: space-evenly;
}

.focus {
    font-family: var(--fonteB);
    color: var(--cor-Palt-1);
    display: flex;
    justify-content: center;
}

.footer {
    font-family: var(--fonteB);
    font-size: x-large;
    font-weight: bold;
    display: flex;
    color: var(--cor-Palt-1);
    justify-content: space-evenly;
    min-height: 22px;
    
}

.small__text__articles {
    font-family: var(--fonteA);
    justify-content: center;
    font-size: larger;
    padding-left: 10%;
    padding-right: 10%;
}

.center__image {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    width: 1000px;
}

.button__hint {
    border: 90px var(--cor-Palt-2);
    color: var(--cor-Palt-2);
    font-weight: bold;
}